.app {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 1010px) {
    .app {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}