EVM_CHAINS_KHALANITESTNET_RPC=https://www.axon-node.info
DISABLE_CAPTCHA=true
CAPTCHA_SECRET="Captcha is not not used right now, you can leave this unchanged"
V2_CAPTCHA_SECRET="Captcha is not not used right now, you can leave this unchanged"
PK="faucet private key that has the tokens"